[submodule "configs/xmonad_hs"]
	path = configs/xmonad_hs
	url = https://github.com/sozoro/xmonad_hs.git
[submodule "packages/vimPlugin/pandoc-markdown-table-formatter"]
	path = packages/vimPlugin/pandoc-markdown-table-formatter
	url = https://github.com/sozoro/pandoc-markdown-table-formatter.git
[submodule "packages/vimPlugin/markdown-extra-syntax"]
	path = packages/vimPlugin/markdown-extra-syntax
	url = https://github.com/sozoro/markdown-extra-syntax.git
[submodule "packages/gene95"]
	path = packages/gene95
	url = https://github.com/sozoro/gene95-nix.git
[submodule "packages/termonad_hs"]
	path = packages/termonad_hs
	url = git@github.com:sozoro/termonad_hs.git
[submodule "packages/vimPlugin/vim-ghci"]
	path = packages/vimPlugin/vim-ghci
	url = git@github.com:sozoro/vim-ghci.git
[submodule "packages/non-variable-noto-fonts"]
	path = packages/non-variable-noto-fonts
	url = git@github.com:sozoro/non-variable-noto-fonts.nix.git
